.animatedBtn {
  --border-radius: 8px;
  --padding: 4px;
  --transition: 0.4s;
  --button-color: #101010;
  --highlight-color-hue: 210deg;

  user-select: none;
  display: flex;
  justify-content: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-family: "Poppins", "Inter", "Segoe UI", sans-serif;
  font-size: 1.1em;
  font-weight: 400;

  background-color: var(--button-color);

  /* box-shadow:
    inset 0px 1px 1px rgba(255, 255, 255, 0.2),
    inset 0px 2px 2px rgba(255, 255, 255, 0.15),
    inset 0px 4px 4px rgba(255, 255, 255, 0.1),
    inset 0px 8px 8px rgba(255, 255, 255, 0.05),
    inset 0px 16px 16px rgba(255, 255, 255, 0.05),
    0px -1px 1px rgba(0, 0, 0, 0.02),
    0px -2px 2px rgba(0, 0, 0, 0.03),
    0px -4px 4px rgba(0, 0, 0, 0.05),
    0px -8px 8px rgba(0, 0, 0, 0.06),
    0px -16px 16px rgba(0, 0, 0, 0.08); */

  /* border: solid 1px #fff2; */
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;

  transition:
    box-shadow var(--transition),
    border var(--transition),
    background-color var(--transition);
}

.loading {
}

.animatedBtn::before {
  content: "";
  position: absolute;
  top: calc(0px - var(--padding));
  left: calc(0px - var(--padding));
  width: calc(100% + var(--padding) * 2);
  height: calc(100% + var(--padding) * 2);
  border-radius: calc(var(--border-radius) + var(--padding));
  pointer-events: none;
  background-image: linear-gradient(0deg, #0004, #000a);

  z-index: -1;
  transition:
    box-shadow var(--transition),
    filter var(--transition);
  box-shadow:
    0 -8px 8px -6px #0000 inset,
    0 -16px 16px -8px #00000000 inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.animatedBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  background-image: linear-gradient(
    0deg,
    #fff,
    hsl(var(--highlight-color-hue), 100%, 70%),
    hsla(var(--highlight-color-hue), 100%, 70%, 50%),
    8%,
    transparent
  );
  background-position: 0 0;
  opacity: 0;
  transition:
    opacity var(--transition),
    filter var(--transition);
}

.btnLetter {
  position: relative;
  display: inline-block;
  color: #fff9;
  animation: letterAnim 2s ease-in-out infinite;
  transition:
    color var(--transition),
    text-shadow var(--transition),
    opacity var(--transition);
}

@keyframes letterAnim {
  50% {
    text-shadow: 0 0 3px #fff8;
    color: #fff;
  }
}

.btnSvg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  fill: #e8e8e8;
  animation: flicker 2s linear infinite;
  animation-delay: 0.5s;
  filter: drop-shadow(0 0 2px #fff9);
  transition:
    fill var(--transition),
    filter var(--transition),
    opacity var(--transition);
}

@keyframes flicker {
  50% {
    opacity: 0.3;
  }
}

.txtWrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 10em;
}

.txt1,
.txt2 {
  white-space: pre;
}

.txt1 {
  animation: appearAnim 1s ease-in-out forwards;
}

.txt2 {
  opacity: 0;
  position: absolute;
}

@keyframes appearAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animatedBtn:focus .txt1,
.animatedBtn.loading .txt1 {
  animation: opacityAnim 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

.animatedBtn:focus .txt2,
.animatedBtn.loading .txt2 {
  animation: opacityAnim 0.3s ease-in-out reverse forwards;
  animation-delay: 1s;
}

@keyframes opacityAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animatedBtn:focus .btnLetter,
.animatedBtn.loading .btnLetter {
  animation:
    focusedLetterAnim 1s ease-in-out forwards,
    letterAnim 1.2s ease-in-out infinite;
  animation-delay: 0s, 1s;
}

@keyframes focusedLetterAnim {
  0%,
  100% {
    filter: blur(0px);
  }
  50% {
    transform: scale(2);
    filter: blur(10px) brightness(150%)
      drop-shadow(-36px 12px 12px hsl(var(--highlight-color-hue), 100%, 70%));
  }
}

.animatedBtn:focus .btnSvg,
.animatedBtn.loading .btnSvg {
  animation-duration: 1.2s;
  animation-delay: 0.2s;
}

.animatedBtn:focus::before,
.animatedBtn.loading::before {
  box-shadow:
    0 -8px 12px -6px #fff3 inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 20%) inset,
    1px 1px 1px #fff3,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.animatedBtn:focus::after,
.animatedBtn.loading::after {
  opacity: 0.6;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(100%);
}

.animatedBtn:active {
  border: solid 1px hsla(var(--highlight-color-hue), 100%, 80%, 70%);
  background-color: hsla(var(--highlight-color-hue), 50%, 20%, 0.5);
}
